{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div>
    <h1>Video Games!!!</h1>
  </div>

  <div>
    <a href="{{url_for('newconsole')}}">Create New Console</a>
  </br>
  </br>
  <div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong> {{message}} </strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  </div>
  {% for console in consoles %}
    <div>
      <a href="{{url_for('showgame', console_id = console.id)}}">
        {{console.name}}
      </a>
      </br>
      </br>
    </div>
  {% endfor %}
{% endblock %}
