{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="header">
    <h1>Edit Console</h1>
  </div>
  <form action="{{url_for('editconsole', console_id=console.id)}}" method='post'>
    <div class="edit">
      Name:
      <input type='text' maxlength='100' name='name' placeholder='{{console.name}}'>
      <input type='submit' class='button' value='Edit'>
    </div>
  </form>
  <div class="cancel">
    <a href="{{url_for('showgame', console_id=console.id)}}">Cancel</a>
  </div>
{% endblock %}
