{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="header">
    <div class="editconsole">
      <h1>{{console.name}}</h1>
      <a href="{{url_for('editconsole', console_id = console.id)}}">Edit</a>
      <a href="{{url_for('deleteconsole', console_id = console.id)}}">Delete</a>
    </div>
  </div>
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong> {{message}} </strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="button">
    <a href="{{url_for('newgame', console_id = console.id)}}">Create New Game</a>
    </br>
    </br>
  </div>
  {% for item in items %}
    <div class="content">
      {{item.name}}
      </br>
      {{item.date}}
      </br>
      {{item.type}}
      </br>
      {{item.developer}}
      </br>
      <a href="{{url_for('editgame', console_id = console.id, game_id = item.id)}}">Edit</a>
      </br>
      <a href="{{url_for('deletegame', console_id = console.id, game_id = item.id)}}">Delete</a>
      </br>
      </br>
    </div>
  {% endfor %}
{% endblock %}
