<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <meta name="google-signin-client_id" content="847841938987-3htr5m3r31o8dkd3pp4kh2k10jb9q6rn.apps.googleusercontent.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '847841938987-3htr5m3r31o8dkd3pp4kh2k10jb9q6rn.apps.googleusercontent.com'
        });
      });
    }
  </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
  <!-- GOOGLE PLUS SIGN IN BUTTON-->
  <div id="signinButton">Google Signin</div>
  <div id="result"></div>

  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('signinButton', {
        'scope': 'profile email',
        'width': 180,
        'height': 30,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    $('#signinButton').click(function() {
      function signInCallback(authResult){
        if (authResult['code']){
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            headers: {
            'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success:function(result){
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                   setTimeout(function() {
                    window.location.href = "/";
                   }, 2000);
            },
            processData:false,
            data:authResult['code']
          });
        } else{
          // handle error
          console.log('There was an error: ' + authResult['error']);
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <!--END GOOGLE PLUS SIGN IN BUTTON -->

  <!--FACEBOOK SIGN IN -->
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '2131876910419430',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v3.1' // use version 3.1
    });
    };
    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
       $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/consoles";
           }, 4000);

        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }

    });
      });
    }
  </script>


  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
    </fb:login-button>
  </button>
  <!--END FACEBOOK SIGN IN -->
</body>
</html>
