{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="header">
    <h1>New Console</h1>
  </div>
  <form action="{{url_for('newconsole')}}" method='post'>
    <div class="edit">
      <h2>Console Name:</h2>
      <input type='text' maxlength='100' name='name' placeholder='Name of console'>
      <input type='submit' class='button' value='Create'>
    </div>
    <div class="cancel">
      <a href="{{url_for('showconsole')}}">Cancel</a>
    </div>
  </form>
{% endblock %}
