{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <h1>New Game</h1>
  <form action="{{url_for('newgame', console_id = console_id)}}" method='post'>
    <div>
      <div>Name:
        <input type='text' size='30' name='name' placeholder='Name of the game'>
      </div>
      <div>Date:
        <input type='text' size='30' name='date' placeholder='2018-01-01'>
      </div>
      <div>Type:
        <input type='text' size='80' name='type' placeholder='game type'>
      </div>
      <div>Developer:
        <input type='text' size='30' name='developer' placeholder='game developer'>
      </div>
      <input type='submit' value='Create'>
    </div>
    <div>
      <a href="{{url_for('showgame', console_id=console_id)}}">Cancel</a>
    </div>
  </form>
{% endblock %}
