{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="header">
    <h1>All Consoles</h1>
  </div>
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong> {{message}} </strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  {% for console in consoles %}
  <div class="content">
    <a href="{{url_for('showgame', console_id = console.id)}}">
      {{console.name}}
    </a>
    </br>
    </br>
  </div>
  {% endfor %}
{% endblock %}
