{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="header">
    <h1>{{console.name}}</h1>
  </div>
  <div class="flash">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong> {{message}} </strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <div class="content">
    {% for item in items %}
      {{item.name}}
      </br>
      {{item.date}}
      </br>
      {{item.type}}
      </br>
      {{item.developer}}
      </br>
      </br>
    {% endfor %}
  </div>
{% endblock %}
